.red-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(211, 24, 55, 0.9); /* Red overlay */
    clip-path: polygon(0 0, 80% 0, 100% 0, 50% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .text-container {
    text-align: center;
    color: white;
    z-index: 2;
  }
  
  .ant-card-cover img {
    object-fit: cover;
    height: 250px; 
  }
  
  .ant-card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
  }
  